.section {
  padding: clamp(50px, 5vw, 80px) 0;
}

.title {
  text-align: center;
  font-size: clamp(27.5px, 5vw, 37.5px);
  font-weight: 700;
  line-height: calc(34.7 / 37.5 * 100%);
  color: var(--red-text);
  position: relative;
  margin-bottom: clamp(50px, 5vw, 80px);
  display: flex;
  justify-content: center;

  &:before {
    content: '';
    width: 130px;
    height: 2px;
    background-color: var(--red-text);
    position: absolute;
    bottom: -15px;
  }
}

.content {
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  gap: 50px;
}

.card {
  box-shadow: 0 4px 15.9px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 50px 20px;
  max-width: 400px;
  width: 100%;
  cursor: pointer;
  color: var(--gray-text);

  &:hover {
    background-color: #e1e1e1;
  }
}

.cardTitle {
  font-size: 23.44px;
  font-weight: 700;
  line-height: 110%;
}

.details {

}

.item {
  > p {
    color: var(--red-text);
  }
}

@media (max-width: 1359.98px) {
  .list {
    justify-content: center;
  }
}
