.section {
  text-align: center;
  margin: clamp(50px, 5vw, 80px) 0;
  color: var(--gray-text);
}

.title {
  font-size: 37.5px;
  font-weight: 700;
  line-height: calc(24.7 / 37.5 * 100%);
  letter-spacing: -4%;
  color: var(--red-text);
  position: relative;
  display: flex;
  justify-content: center;

  &:before {
    content: '';
    width: 130px;
    height: 2px;
    background-color: var(--red-text);
    position: absolute;
    bottom: -15px;
  }
}

.subTitle {
  font-size: 23.44px;
  font-weight: 700;
  line-height: calc(24.7 / 23.44 * 100%);
  letter-spacing: -4%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: clamp(50px, 5vw, 80px) 0;
}

.icons {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  width: 100%;
}

.icon {

}

.cards {
  display: flex;
  justify-content: space-between;
  max-width: 850px;
  width: 100%;
}

.mobileCard {
  display: none;
  > p {
    font-size: clamp(18.6px, 3vw, 14.6px);
    line-height: calc(25 / 14.6 * 100%);
    letter-spacing: -4%;
  }
  >strong {
    font-size: 20px;
    line-height: calc(32 / 20 * 100%);
    color: var(--red-text);
    letter-spacing: -4%;
  }
}

.card {
  > p {
    font-size: 14.6px;
    line-height: calc(25 / 14.6 * 100%);
    letter-spacing: -4%;
  }
  >strong {
    font-size: 20px;
    line-height: calc(32 / 20 * 100%);
    color: var(--red-text);
    letter-spacing: -4%;
  }
}

@media(max-width: 896.98px) {
  .icons {
    flex-direction: column;
  }
  .cards {
    display: none;
  }

  .mobileCard {
    display: block;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
