.page {
  padding: 60px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: clamp(27.5px, 5vw, 37.5px);
  font-weight: 700;
  line-height: calc(24.7 / 37.5 * 100%);
  letter-spacing: -4%;
  color: var(--red-text);
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  &:before {
    content: '';
    width: 130px;
    height: 2px;
    background-color: var(--red-text);
    position: absolute;
    bottom: -15px;
  }
}

.top {
  display: flex;
  gap: 18px;
  overflow-block: hidden;
}

.img {
  transition: transform 0.2s ease-out 0s, border 0.2s ease-out 0s;
  &:hover {
    transform: scale(1.1);
    border: 0;
  }
}

.imgContent {
  text-align: center;
  max-width: 300px;

  > p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-size: 18.65px;
    font-weight: 400;
  }
}

.imgcnt {
  overflow: hidden;
}

.bottom {
  display: flex;
  gap: 18px;
}

@media(max-width: 995.98px) {
  .content , .top , .bottom {
    gap: 10px;
  }

  .imgContent {
    max-width: 300px;

    > p {
      display: none;
    }
  }

  .img {
    width: 200px;
    height: 170px;
  }
}

@media(max-width: 649.98px) {
  .content , .top , .bottom {
    gap: 7px;
  }
  .img {
    width: 150px;
    height: 120px;
  }
}

@media(max-width: 499.98px) {
  .img {
    width: 100px;
    height: 80px;
  }
}
