.main {
  background: url("../../../../../public/main-background.jpg") 0 40%/cover no-repeat;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 60px;
  height: 100vh;
  padding: 120px 0;
}

.phraze {
  --fz: clamp(35px, 3vw, 60px);
  --lh: calc(var(--fz)/85 * 100%);
  color: var(--white-text);
  font-size: var(--fz);
  font-weight: 700;
  line-height: var(--lh);
  max-width: 420px;
}

@media(max-width: 549.98px) {
  .content {
    align-items: center;
  }

  .phraze {
    max-width: 260px;
  }
}
