.section {
  padding: clamp(50px, 5vw, 80px) 0;

}

.title {
  text-align: center;
  font-size: clamp(27.5px, 5vw, 37.5px);
  font-weight: 700;
  line-height: calc(34.7 / 37.5 * 100%);
  color: var(--red-text);
  position: relative;
  margin-bottom: clamp(50px, 5vw, 80px);
  display: flex;
  justify-content: center;

  &:before {
    content: '';
    width: 130px;
    height: 2px;
    background-color: var(--red-text);
    position: absolute;
    bottom: -15px;
  }
}

.subTitle {
  color: var(--gray-text);
  font-size: 20.65px;
  font-weight: 700;
  line-height: 160%;
  padding: 15px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts {
  display: flex;
  gap: 15px;
}

.numbers {
  display: flex;
  flex-direction: column;
  > a {
    color: var(--gray-text);
    transition: color .2s ease-out 0s;
    &:hover {
      opacity: .7;
    }
  }
}
