.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out 0s;
}

.active {
  opacity: 1;
  pointer-events: all;
}

.close {
  opacity: 1;
  transition: opacity .2s ease;
  cursor: pointer;
  &:hover {
    opacity: .7;
  }
}

.cnt {
  position: relative;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  max-width: 700px;
  max-height: 95vh;
  margin: 0 15px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.75);
  overflow-y: auto;

}

.btn {
  display: flex;
  justify-content: end;
}

@media(max-height: 100px) {
  .cnt {

  }
}
